In [1]:
import pandas as pd
import numpy as np

Book = pd.read_csv("Books.csv")
Book.info()
Book.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

C:\Users\gagen\AppData\Local\Temp\ipykernel_9616\1249945531.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  Book = pd.read_csv("Books.csv")

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [2]:
Rating  =  pd.read_csv("Ratings.csv")
Rating.info()
Rating.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [3]:
User = pd.read_csv("Users.csv")
User.info()
User.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [4]:
Book_list= Book.merge(Rating,on="ISBN")

In [5]:
x = Book_list.groupby("Book-Title")['Book-Rating'].count().reset_index()

In [6]:

x = x[x["Book-Rating"]>250].sort_values("Book-Rating",ascending=False)

In [7]:
avgerage_rating= Book_list.groupby("Book-Title")['Book-Rating'].mean().reset_index()

In [8]:
avgerage_rating = avgerage_rating[avgerage_rating['Book-Title'].isin(x['Book-Title'].values)]

In [9]:
popularity= x.merge(avgerage_rating,on='Book-Title')

In [10]:
popularity.head()

                   Book-Title  Book-Rating_x  Book-Rating_y
0                 Wild Animus           2502       1.019584
1   The Lovely Bones: A Novel           1295       4.468726
2           The Da Vinci Code            898       4.642539
3             A Painted House            838       3.231504
4  The Nanny Diaries: A Novel            828       3.530193

In [11]:
popularity.rename(columns={'Book-Rating_x':'Number_of_Ratings','Book-Rating_y':'Avg-Rating'},inplace=True)

In [12]:
popularity.sort_values('Avg-Rating',ascending=False).head(5)

,Book-Title,Number_of_Ratings,Avg-Rating
59,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
69,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
142,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
87,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
24,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453

In [13]:
popularity = popularity.merge(Book,on='Book-Title').drop_duplicates('Book-Title')[['ISBN','Book-Title','Avg-Rating','Book-Author','Year-Of-Publication','Publisher',"Image-URL-M"]]

In [14]:
popularity.sort_values('Avg-Rating',ascending=False)

,ISBN,Book-Title,Avg-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-M
247,0439136350,Harry Potter and the Prisoner of Azkaban (Book 3),5.852804,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...
304,0439139597,Harry Potter and the Goblet of Fire (Book 4),5.824289,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...
561,0590353403,Harry Potter and the Sorcerer's Stone (Book 1),5.737410,J. K. Rowling,1998,Scholastic,http://images.amazon.com/images/P/0590353403.0...
367,043935806X,Harry Potter and the Order of the Phoenix (Boo...,5.501441,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...
92,0439064872,Harry Potter and the Chamber of Secrets (Book 2),5.183453,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439064872.0...
...,...,...,...,...,...,...,...
630,0380730138,Vinegar Hill (Oprah's Book Club (Paperback)),2.245283,A. Manette Ansay,1998,Perennial,http://images.amazon.com/images/P/0380730138.0...
523,0440216745,Whispers,2.199301,BELVA PLAIN,1994,Dell,http://images.amazon.com/images/P/0440216745.0...
485,0446359866,Presumed Innocent,2.139456,Scott Turow,1989,Warner Books,http://images.amazon.com/images/P/0446359866.0...
509,0425182908,Isle of Dogs,2.000000,Patricia Cornwell,2002,Berkley Publishing Group,http://images.amazon.com/images/P/0425182908.0...
0,0971880107,Wild Animus,1.019584,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...

Colaborative recommender system

In [15]:
padhe_likhe_users = Book_list.groupby('User-ID').count()['Book-Title']>=200

In [16]:
Book_list.head(3)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0

In [17]:
padhe_likhe_users  = padhe_likhe_users[padhe_likhe_users].index

In [18]:
filtered = Book_list[Book_list['User-ID'].isin(padhe_likhe_users)]

In [19]:
fi = filtered.groupby('Book-Title')['User-ID'].count()>=50
# filtered_name = fi[fi].index
Book_names = fi[fi].index

In [20]:
final_ans = filtered[filtered['Book-Title'].isin(Book_names)]

In [21]:
final_ans.drop_duplicates()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
31,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,11676,9
33,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,36836,0
34,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,46398,9
38,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,113270,0
39,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,113519,0
...,...,...,...,...,...,...,...,...,...,...
1028414,1878702831,Echoes,Nancy Morse,1992,Meteor Publishing Corporation,http://images.amazon.com/images/P/1878702831.0...,http://images.amazon.com/images/P/1878702831.0...,http://images.amazon.com/images/P/1878702831.0...,238781,0
1028600,0394429869,I Know Why the Caged Bird Sings,Maya Angelou,1996,Random House,http://images.amazon.com/images/P/0394429869.0...,http://images.amazon.com/images/P/0394429869.0...,http://images.amazon.com/images/P/0394429869.0...,239594,8
1028602,0449001164,The Promise,CHAIM POTOK,1997,Ballantine Books,http://images.amazon.com/images/P/0449001164.0...,http://images.amazon.com/images/P/0449001164.0...,http://images.amazon.com/images/P/0449001164.0...,239594,7
1028815,0743527631,The Pillars of the Earth,Ken Follett,2002,Encore,http://images.amazon.com/images/P/0743527631.0...,http://images.amazon.com/images/P/0743527631.0...,http://images.amazon.com/images/P/0743527631.0...,240144,0
1028817,0745168086,The Handmaid's Tale,Margaret Atwood,1999,Chivers Audio Books,http://images.amazon.com/images/P/0745168086.0...,http://images.amazon.com/images/P/0745168086.0...,http://images.amazon.com/images/P/0745168086.0...,240144,0

In [22]:
pt = final_ans.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating').fillna(0)

In [23]:
from sklearn.metrics.pairwise import cosine_similarity

similarities = cosine_similarity(pt)

In [24]:
def recommender(book_name):
    try:
        index = np.where(pt.index==book_name)[0][0]
        lis = sorted(list((enumerate(similarities[index]))),key = lambda x:x[1],reverse=True)[1:3]

        for i in lis:
            print(pt.index[i[0]])
    except:
        print("This book has not in the list,\nPlease try some other movie")

In [25]:
recommender("Angela's Ashes (MMP) : A Memoir")

Echoes
Harvest

In [26]:
pt.index[34:46]

Index(['Airframe', 'All Around the Town', 'All I Really Need to Know',
       'All That Remains (Kay Scarpetta Mysteries (Paperback))',
       'All the Pretty Horses (The Border Trilogy, Vol 1)',
       'Along Came a Spider (Alex Cross Novels)', 'American Gods',
       'Angela's Ashes (MMP) : A Memoir', 'Angela's Ashes: A Memoir', 'Angels',
       'Angels &amp; Demons',
       'Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson'],
      dtype='object', name='Book-Title')

In [27]:
import pickle 
pickle.dump(similarities,open('sim.pkl','wb'))

In [28]:
pickle.dump(pt,open('pt.pkl','wb'))

In [29]:
final_ans.head(3)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
31,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,11676,9
33,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,36836,0
34,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,46398,9

In [30]:
pt.index[47]

'Animal Farm'

In [31]:
pickle.dump(final_ans,open('final.pkl','wb'))

In [32]:
pt.index[34:56]

Index(['Airframe', 'All Around the Town', 'All I Really Need to Know',
       'All That Remains (Kay Scarpetta Mysteries (Paperback))',
       'All the Pretty Horses (The Border Trilogy, Vol 1)',
       'Along Came a Spider (Alex Cross Novels)', 'American Gods',
       'Angela's Ashes (MMP) : A Memoir', 'Angela's Ashes: A Memoir', 'Angels',
       'Angels &amp; Demons',
       'Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson',
       'Animal Dreams', 'Animal Farm', 'Anne Frank: The Diary of a Young Girl',
       'Anne of Avonlea (Anne of Green Gables Novels (Paperback))',
       'Anne of Green Gables (Anne of Green Gables Novels (Paperback))',
       'Anne of the Island', 'Artemis Fowl (Artemis Fowl, Book 1)',
       'Ashes to Ashes', 'At Home in Mitford (The Mitford Years)',
       'Atonement : A Novel'],
      dtype='object', name='Book-Title')

In [33]:
final_ans[final_ans['Book-Title'] == 'Animal Farm']['Image-URL-M'].values[0]

'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'